<div class="video-open-popup ">
  <a class="video-mp" href="javascript:void(0)" data-toggle="modal" data-target="#video_product">
    <svg aria-hidden="true" data-prefix="fal" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-play-circle fa-w-16 fa-3x"><path fill="currentColor" d="M256 504c137 0 248-111 248-248S393 8 256 8 8 119 8 256s111 248 248 248zM40 256c0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216zm331.7-18l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM192 335.8V176.9c0-4.7 5.1-7.6 9.1-5.1l134.5 81.7c3.9 2.4 3.8 8.1-.1 10.3L201 341c-4 2.3-9-.6-9-5.2z" class=""></path></svg>
  </a>
</div>


{% if template contains 'product' %}
<div class="modal fade halo_modal-custom" id="video_product" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close close-modal" title="{{ 'cart.ajax_cart.close' | t }}" href="javascript:void(0)">
                    {% render 'icon-close' %}
                </a>
            </div>

            <div class="modal-body">
                <div class="videoWrapper">
                  {% if product.metafields.c_f['Product Video'] %}
                  {% capture video_id %}{{ product.metafields.c_f['Product Video'] }}{% endcapture %}
                  <iframe width="100%" data-video-id="{{video_id }}"  class="lazyload" height="100%" id="video_pr" src="//www.youtube.com/embed/{{video_id}}?enablejsapi=1&html5=1?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% if product.metafields.c_f['Product Video'] %}
<script type="text/javascript">
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('video_pr', {
      events: {
        'onReady': onPlayerReady
      }
    });
  }
  function onPlayerReady(event) {

    // bind events
    var playButton = document.querySelector(".product .video-open-popup");
    playButton.addEventListener("click", function() {
      player.playVideo();
    });
    var pauseButton = document.querySelector("#video_product .close-modal, #video_product");
    pauseButton.addEventListener("click", function() {
      player.pauseVideo();
    });

  }
  // Inject YouTube API script
  var tag = document.createElement('script');
  tag.src = "//www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

</script>
{% endif %}