<div class="page-dft">
  <div class="container-2">
    {% render 'breadcrumb' %}

    <header class="page-header">
      <h2>
        {% render 'multilang' with page.title %}
      </h2>      
    </header>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="content rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="content rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class=" content rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>
